@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h1 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.calculator {
  border-radius: 20px;
  column-gap: 10px;
  row-gap: 10px;
  display: flex;
  flex-direction: column;
  width: min(80%,500px);
  margin: 0 auto;
  padding: 2rem;
  background: #F3A400;
  box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);
  /* box-shadow:  20px 20px 60px #d9d9d9,
             -20px -20px 60px #ffffff; */
}

.button-area {
  column-gap: 10px;
  row-gap: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 0 auto;
  margin-top: 20px;
  width: min(90%,400px);
}

.viewer {
  box-shadow: inset 5px 5px 0px rgb(27, 27, 27);
  border: 3px solid black;
  background: #929791;
  font-family: 'Press Start 2P', cursive;
  width: min(90%,400px);
  text-align: right;
  font-size: 40px;
  padding: 10px;
  margin: 0 auto;
  padding-bottom: 3px;
}

.button-area div,button {
  font-family: 'Bebas Neue', cursive;
  border: 3px solid black;
  color: white;
  font-weight: 900;
  font-size: 26px;
  background: gray;
  width: min(90%,50px);
  height: 50px;
  justify-self: center;
  border-radius: 10px;
  text-shadow: 1px 1px 0px black;
}

.on, .off, #subtract {
  background: #53846F;
}

#subtract {
  background: #AB2A22;
}

.operator, .clear {
  background: black;
}